:root {
  --dark-blue-dark: hsl(209, 23%, 22%);
  --very-dark-blue-dark: hsl(207, 26%, 17%);
  --very-dark-blue-light: hsl(200, 15%, 8%);
  --very-light-gray-light:  hsl(0, 0%, 98%);
  --dark-gray-light: hsl(0, 0%, 52%);
  --white-dark: hsl(0, 0%, 100%);
  --box-shadow: rgba(65, 65, 65, 0.12) 0px 1px 3px, rgba(58, 58, 58, 0.24) 0px 1px 2px;;
}